*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
/ZemberekDotNet.All.Tests/TestResults
/ZemberekDotNet.Classification.Tests/TestResults
/ZemberekDotNet.Core.Tests/TestResults
/ZemberekDotNet.LangID.Tests/TestResults
/ZemberekDotNet.LM.Tests/TestResults
/ZemberekDotNet.Morphology.Tests/TestResults
/ZemberekDotNet.NER.Tests/TestResults
/ZemberekDotNet.Normalization.Tests/TestResults
/ZemberekDotNet.Tokenization.Tests/TestResults
/Examples.Morphology.out
/TestResults2
